<div class="flex flex-col items-center px-20 pt-10 pb-20 max-md:px-5">
    <div class=" w-full max-w-[1240px] max-md:mt-10 max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-[41%] max-md:ml-0 max-md:w-full">
                <div
                    class="flex flex-col grow text-8xl font-extrabold text-blue-950 whitespace-nowrap leading-[116px] max-md:mt-10 max-md:max-w-full max-md:text-4xl">
                    <div class="max-md:max-w-full max-md:text-4xl">Contact Me</div>
                    <img loading="lazy" src="../../../assets/images/contact.svg"
                        class="mt-16 w-full aspect-[1.54] max-md:mt-10 max-md:max-w-full" />
                </div>
            </div>
            <div class="flex flex-col ml-5 w-[59%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col grow mt-36 text-2xl leading-10 text-blue-950 max-md:mt-10 max-md:max-w-full">
                    <div class="leading-10 max-md:max-w-full">
                        For collaborations, project inquiries, or networking opportunities, feel free to reach out. You
                        can email me at <a class="contactDetail" style="cursor: pointer;"
                            href="mailto:sachinchobey05p@&#64;gmail.com">sachinchobey05p&#64;gmail.com</a> or
                        call <span class="contactDetail">9882748459</span>. I look forward to connecting and
                        exploring how we can work together
                    </div>
                    <div class="mt-10 max-md:mt-10 max-md:max-w-full">
                        `johndoemail.com`
                    </div>
                    <div class="mt-4 max-md:max-w-full">twitter.com/johndoe</div>
                    <div class="mt-4 max-md:max-w-full">behance.com/johndoe</div>
                </div>
            </div>
        </div>
    </div>
</div>