<div class="flex flex-col items-center px-20 pt-10 pb-20 max-md:px-5">
    <div class="text-8xl font-extrabold text-yellow-200 leading-[116px] max-md:mt-10 max-md:max-w-full max-md:text-4xl">
        About
    </div>
    <div class="mt-16 text-2xl leading-10 text-blue-950 w-[900px] max-md:mt-10 max-md:max-w-full">
        I’m Sachin, a dedicated MEAN stack developer with over 1+ years of experience in building dynamic, responsive,
        and user-friendly web applications. My expertise in MongoDB, Express.js, Angular, and Node.js allows me to
        create robust and scalable solutions that meet the unique needs of each project.
    </div>
    <div
        class="flex gap-5 self-start mt-40 ml-72 text-2xl font-semibold leading-10 whitespace-nowrap text-blue-950 max-md:mt-10 max-md:ml-2.5">
        <div class="shrink-0 my-auto rounded-full bg-blue-950 h-[13px] w-[13px]"></div>
        <div class="flex-auto">2014-2018</div>
    </div>
    <div class="self-end mt-9 mr-20 text-2xl leading-10 text-blue-950 w-[900px] max-md:mr-2.5 max-md:max-w-full">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet vulputate
        tristique quam felis. Id phasellus dui orci vulputate consequat nulla
        proin. Id sit scelerisque neque, proin bibendum diam.
    </div>
    <div
        class="flex gap-5 self-start mt-24 ml-72 text-2xl font-semibold leading-10 whitespace-nowrap text-blue-950 max-md:mt-10 max-md:ml-2.5">
        <div class="shrink-0 my-auto rounded-full bg-blue-950 h-[13px] w-[13px]"></div>
        <div class="flex-auto">2018-2020</div>
    </div>
    <div class="self-end mt-9 mr-20 text-2xl leading-10 text-blue-950 w-[900px] max-md:mr-2.5 max-md:max-w-full">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet vulputate
        tristique quam felis. Id phasellus dui orci vulputate consequat nulla
        proin. Id sit scelerisque neque, proin bibendum diam.
    </div>
    <div
        class="flex gap-5 self-start mt-24 ml-72 text-2xl font-semibold leading-10 text-blue-950 max-md:mt-10 max-md:ml-2.5">
        <div class="shrink-0 my-auto rounded-full bg-blue-950 h-[13px] w-[13px]"></div>
        <div class="flex-auto">2020 - Present</div>
    </div>
    <div class="self-end mt-9 mr-20 text-2xl leading-10 text-blue-950 w-[900px] max-md:mr-2.5 max-md:max-w-full">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet vulputate
        tristique quam felis. Id phasellus dui orci vulputate consequat nulla
        proin. Id sit scelerisque neque, proin bibendum diam.
    </div>
</div>