<div class="flex flex-col items-center max-md:px-5 animate-slidein [--slidein-delay:600ms] opacity-0"
    style="height: 100%;">
    <div
        class="flex gap-5 justify-between items-start mt-2 w-full text-3xl font-medium max-w-[1240px] text-blue-950 max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
        <div class="flex flex-col self-end mt-10 max-md:mt-10 max-md:max-w-full">
            <div class="max-md:max-w-full">Hello, I’m Sachin,</div>
            <div
                class="mt-6 text-8xl font-extrabold leading-[116px] max-md:max-w-full max-md:text-4xl max-md:leading-[52px]">
                MEAN Developer
            </div>
            <div class="mt-3.5 max-md:max-w-full">based in Uttar pradesh.</div>
            <div
                class="flex flex-col px-1.5 pt-2 mt-12 max-w-full text-xl text-lime-900 whitespace-nowrap w-[164px] max-md:mt-10">
                <button (click)="downloadPDF()" class="resume-button">Resume
                    <div class="btn-circle-download" (click)="onDownloadClick()">
                        <svg id="arrow" width="14px" height="20px" viewBox="17 14 14 20">
                            <path d="M24,15 L24,32"></path>
                            <polyline points="30 27 24 33 18 27"></polyline>
                        </svg>
                        <svg id="check" width="21px" height="15px" viewBox="13 17 21 15">
                            <polyline points="32.5 18.5 20 31 14.5 25.5"></polyline>
                        </svg>
                        <svg id="border" width="48px" height="48px" viewBox="0 0 48 48">
                            <path
                                d="M24,1 L24,1 L24,1 C36.7025492,1 47,11.2974508 47,24 L47,24 L47,24 C47,36.7025492 36.7025492,47 24,47 L24,47 L24,47 C11.2974508,47 1,36.7025492 1,24 L1,24 L1,24 C1,11.2974508 11.2974508,1 24,1 L24,1 Z">
                            </path>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="container">
            <img loading="lazy"
                srcset="https://firebasestorage.googleapis.com/v0/b/uc-clone-ad90a.appspot.com/o/DSC05204.jpg?alt=media&token=4e220f24-8e83-473e-ba30-56f2a0b8755e"
                class="my-image" />
        </div>
    </div>
</div>