<div class="flex flex-col items-center pb-20  max-md:px-5">
    <div
        class="mt-52 text-8xl font-extrabold text-yellow-200 leading-[116px] max-md:mt-10 max-md:max-w-full max-md:text-4xl">
        work.
    </div>
    <div class="mt-16 text-2xl leading-10 text-blue-950 w-[900px] max-md:mt-10 max-md:max-w-full">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet vulputate
        tristique quam felis. Id phasellus dui orci vulputate consequat nulla
        proin. Id sit scelerisque neque, proin bibendum diam.
    </div>
    <div class="mt-32 w-full max-w-[1240px] max-md:mt-10 max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                <div class="flex flex-col grow text-blue-950 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy" srcset="..." class="w-full aspect-[1.41] max-md:max-w-full" />
                    <div class="mt-4 text-base italic leading-10 max-md:max-w-full">
                        November 24, 2019
                    </div>
                    <div class="mt-7 text-2xl font-semibold leading-10 max-md:max-w-full">
                        Some Case Study
                    </div>
                    <div class="mt-4 text-lg leading-8 max-md:max-w-full">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                        aliquam sollicitudin rhoncus morbi. Tincidunt quam sem elit a
                        convallis. Eget ipsum, velit vitae eu nunc, consequat, at.
                    </div>
                </div>
            </div>
            <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                <div class="flex flex-col grow text-blue-950 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy" srcset="..." class="w-full aspect-[1.41] max-md:max-w-full" />
                    <div class="mt-4 text-base italic leading-10 max-md:max-w-full">
                        November 24, 2019
                    </div>
                    <div class="mt-7 text-2xl font-semibold leading-10 max-md:max-w-full">
                        Some Case Study
                    </div>
                    <div class="mt-4 text-lg leading-8 max-md:max-w-full">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed
                        aliquam sollicitudin rhoncus morbi. Tincidunt quam sem elit a
                        convallis. Eget ipsum, velit vitae eu nunc, consequat, at.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>